In [ ]:
import nltk
nltk.download('punkt')
nltk.download('stopwords')
nltk.download('wordnet')
nltk.download('averaged_perceptron_tagger')
nltk.download('omw-1.4')

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Unzipping tokenizers/punkt.zip.
[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.
[nltk_data] Downloading package wordnet to /root/nltk_data...
[nltk_data] Downloading package averaged_perceptron_tagger to
[nltk_data]     /root/nltk_data...
[nltk_data]   Unzipping taggers/averaged_perceptron_tagger.zip.
[nltk_data] Downloading package omw-1.4 to /root/nltk_data...

True

#Part 1

In [ ]:
text= '''Tokenization is the first step in text analytics. The
process of breaking down a text paragraph into smaller chunks
such as words or sentences is called Tokenization.'''

Tokenization

In [ ]:
#Sentence Tokenization
from nltk.tokenize import sent_tokenize
tokenized_text= sent_tokenize(text)
print(tokenized_text)

#Word Tokenization
from nltk.tokenize import word_tokenize
tokenized_word=word_tokenize(text)
print(tokenized_word)

['Tokenization is the first step in text analytics.', 'The\nprocess of breaking down a text paragraph into smaller chunks\nsuch as words or sentences is called Tokenization.']
['Tokenization', 'is', 'the', 'first', 'step', 'in', 'text', 'analytics', '.', 'The', 'process', 'of', 'breaking', 'down', 'a', 'text', 'paragraph', 'into', 'smaller', 'chunks', 'such', 'as', 'words', 'or', 'sentences', 'is', 'called', 'Tokenization', '.']

Removing Stop words

In [ ]:
from nltk.corpus import stopwords
import re

stop_words=set(stopwords.words("english"))
print("List of english stop words: ",stop_words)

List of english stop words:  {"doesn't", 'hers', 'at', 'which', 'in', 'won', 'ourselves', 'against', 'o', "aren't", "she's", 'herself', 'or', 'by', "you'd", 'mightn', 'doing', "mightn't", 'does', 'd', 'yours', 'up', 'so', 'whom', 'was', 'of', 'out', 'where', 'nor', 'you', 't', 'over', 'few', 'not', 'didn', "won't", 'down', 'now', 'these', 'is', 'there', 'am', 'from', 'his', 'him', 'but', 'an', 'don', 'because', 'as', 'did', "shan't", 'her', 'some', "weren't", 'very', 'what', 'above', 'more', "you've", 'isn', 'me', 'ain', 'too', 'than', 'who', 'couldn', 'if', 'only', "hadn't", 'about', "wouldn't", 'been', 's', 'll', "don't", 'all', 'have', 'how', 'haven', 'themselves', "that'll", "wasn't", 'and', 'such', "should've", 'when', 'i', 'that', 'just', 'shouldn', 'own', 'to', 'same', 'during', 'were', 'for', 'each', 'being', 'aren', 'mustn', 'hasn', 'shan', 'other', "shouldn't", 'himself', "isn't", 'any', "mustn't", 'those', 'again', 'y', 'hadn', 'while', "didn't", 'them', 'itself', 'their', 'it', 'doesn', 'under', 'why', "it's", "couldn't", 'myself', 'we', 'a', 'yourself', 'until', 'has', 'they', 'do', 'ours', 'your', "you're", "haven't", 'once', 'will', 'should', 'then', 'wouldn', 'into', 'after', 'can', 'wasn', 'through', "you'll", 'needn', 'between', 'here', "needn't", 'are', 'm', 'theirs', 're', 'no', 'had', 'below', 'weren', "hasn't", 'ma', 'our', 'its', 'my', 'off', 've', 'he', 'most', 'be', 'before', 'yourselves', 'with', 'this', 'the', 'further', 'both', 'having', 'she', 'on'}

In [ ]:
text= "How to remove stop words with NLTK library in Python?"
text= re.sub('[^a-zA-Z]', ' ',text)  

tokens = word_tokenize(text.lower())
filtered_text=[]

for w in tokens:
  if w not in stop_words:
    filtered_text.append(w)

print("Tokenized Sentence:",tokens)
print("Filterd Sentence:",filtered_text)

Tokenized Sentence: ['how', 'to', 'remove', 'stop', 'words', 'with', 'nltk', 'library', 'in', 'python']
Filterd Sentence: ['remove', 'stop', 'words', 'nltk', 'library', 'python']

Text Normalization

Stemming

In [ ]:
from nltk.stem import PorterStemmer

e_words= ["wait", "waiting", "waited", "waits"]
e_words1= ["cry", "cries", "crying"]
ps =PorterStemmer()

for w in e_words:
  rootWord=ps.stem(w)

for w in e_words1:
  rootWord1=ps.stem(w)

print(rootWord,rootWord1)

wait cri

Lemmatization

In [ ]:
from nltk.stem import WordNetLemmatizer
wordnet_lemmatizer = WordNetLemmatizer()

text = "studies studying cries cry"
tokenization = nltk.word_tokenize(text)

for w in tokenization:
  print("Lemma for {} is {}".format(w,wordnet_lemmatizer.lemmatize(w)))

Lemma for studies is study
Lemma for studying is studying
Lemma for cries is cry
Lemma for cry is cry

POS(Parts of Speech) Tagging

In [ ]:
data="The pink sweater fit her perfectly"
words=word_tokenize(data)

for word in words:
  print(nltk.pos_tag([word]))

[('The', 'DT')]
[('pink', 'NN')]
[('sweater', 'NN')]
[('fit', 'NN')]
[('her', 'PRP$')]
[('perfectly', 'RB')]

#Part 2

In [ ]:
import pandas as pd
from sklearn.feature_extraction.text import TfidfVectorizer
import math

In [ ]:
documentA = 'Jupiter is the largest Planet'
documentB = 'Mars is the fourth planet from the Sun'

In [ ]:
bagOfWordsA = documentA.split(' ')
bagOfWordsB = documentB.split(' ')

uniqueWords = set(bagOfWordsA).union(set(bagOfWordsB))

numOfWordsA = dict.fromkeys(uniqueWords, 0)

for word in bagOfWordsA:
  numOfWordsA[word] += 1
  numOfWordsB = dict.fromkeys(uniqueWords, 0)
for word in bagOfWordsB:
  numOfWordsB[word] += 1

In [ ]:
def computeTF(wordDict, bagOfWords):
  
  tfDict = {}
  bagOfWordsCount = len(bagOfWords)

  for word, count in wordDict.items():
    tfDict[word] = count / float(bagOfWordsCount)
  return tfDict

tfA = computeTF(numOfWordsA, bagOfWordsA)
tfB = computeTF(numOfWordsB, bagOfWordsB)

In [ ]:

def computeIDF(documents):

  N = len(documents)
  idfDict = dict.fromkeys(documents[0].keys(), 0)
  for document in documents:
    for word, val in document.items():
      if val > 0:
        idfDict[word] += 1
  for word, val in idfDict.items():
    idfDict[word] = math.log(N / float(val))
  return idfDict
  
idfs = computeIDF([numOfWordsA, numOfWordsB])
idfs

{'Jupiter': 0.6931471805599453,
 'planet': 0.6931471805599453,
 'fourth': 0.6931471805599453,
 'is': 0.0,
 'Planet': 0.6931471805599453,
 'the': 0.0,
 'from': 0.6931471805599453,
 'Mars': 0.6931471805599453,
 'largest': 0.6931471805599453,
 'Sun': 0.6931471805599453}

In [ ]:
def computeTFIDF(tfBagOfWords, idfs):
  tfidf = {}
  for word, val in tfBagOfWords.items():
    tfidf[word] = val * idfs[word]
  return tfidf

tfidfA = computeTFIDF(tfA, idfs)
tfidfB = computeTFIDF(tfB, idfs)

df = pd.DataFrame([tfidfA, tfidfB])
df

,Jupiter,planet,fourth,is,Planet,the,from,Mars,largest,Sun
0,0.138629,0.000000,0.000000,0.0,0.138629,0.0,0.000000,0.000000,0.138629,0.000000
1,0.000000,0.086643,0.086643,0.0,0.000000,0.0,0.086643,0.086643,0.000000,0.086643